body {
  background-image: url(../img/1769184103227.png);
  /* Các dòng code cũ của bạn giữ nguyên, thêm hoặc sửa các dòng dưới đây */
  background-repeat: no-repeat; /* Ngăn không cho ảnh lặp lại */
  background-size: cover; /* Kéo dãn ảnh để phủ kín toàn bộ màn hình */
  background-position: center; /* Căn giữa ảnh để trọng tâm nằm ở giữa */
  background-attachment: fixed; /* (Tùy chọn) Giữ ảnh cố định khi bạn cuộn chuột xuống */
}
h2 {
  color: rgb(207, 51, 255);
}
h1 {
  font-size: 45px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#thanks {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#ccc {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.icon-app {
  width: 80px;
}
