img {
  transition: 2.5s;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f6fcfd;
}
img {
  border-radius: 10px; /* Bo tròn góc 10px */
  border: 2px solid #00ff00; /* Viền màu xanh lá cây dày 2px */
}
h1 {
  color: cadetblue;
}
input:checked ~ img {
  opacity: 0;
  visibility: hidden;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#line4 {
  font-style: italic;
}
#tieude {
  text-align: center;
}
