body {
  background-image: url(../img/white-background-with-blue-geometric-and-white-line-pattern-free-vector.jpg);
  /* Các dòng code cũ của bạn giữ nguyên, thêm hoặc sửa các dòng dưới đây */
  background-repeat: no-repeat; /* Ngăn không cho ảnh lặp lại */
  background-size: cover; /* Kéo dãn ảnh để phủ kín toàn bộ màn hình */
  background-position: center; /* Căn giữa ảnh để trọng tâm nằm ở giữa */
  background-attachment: fixed; /* (Tùy chọn) Giữ ảnh cố định khi bạn cuộn chuột xuống */
}
h1 {
  text-align: center;
  color: cornflowerblue;
}
p {
  text-align: center;
}
input[type="password"] {
  display: block;
  margin: 0 auto; /*căn giữa*/
  padding: 10px; /*khoảng cách bên trong*/
  font-size: 16px; /*cỡ chữ*/
  border: 2px solid #ccc; /*viền xám nhạt*/
  border-radius: 50px; /*bo tròn góc*/
}
h2 {
  color: darkblue;
  text-align: center;
}
img {
  display: block; /* Biến ảnh thành khối để chiếm dòng riêng */
  margin: 0 auto; /* Tự động căn lề trái phải bằng nhau -> Ra giữa */
  width: 550px; /* (Tùy chọn) Nên đặt chiều rộng để ảnh không to quá khổ */
}
div {
  text-align: center; /* Căn giữa nội dung bên trong thẻ div */
  font-family: Arial, Helvetica, sans-serif; /* Chọn font chữ cho nội dung bên trong thẻ div */
  
}