body {
  background-image: url(/white-background-with-blue-geometric-and-white-line-pattern-free-vector.jpg);
}
h1 {
  text-align: center;
  color: cornflowerblue;
}
p {
  text-align: center;
}
input[type="password"] {
  display: block;
  margin: 0 auto; /*căn giữa*/
  padding: 10px; /*khoảng cách bên trong*/
  font-size: 16px; /*cỡ chữ*/
  border: 2px solid #ccc; /*viền xám nhạt*/
  border-radius: 50px; /*bo tròn góc*/
}
h2 {
  color: darkblue;
  text-align: center;
}
img {
  margin: 0 auto;
}
